#!/bin/sh -e

. /usr/share/debconf/confmodule

db_input low mythtv/mysql_admin_user || true

db_get mythtv/mysql_admin_user
USER="$RET"

# Use the mysql-server root password first.
db_get mysql-server/root_password || RET="" && true
PASSWORD="$RET"
if ! test -z "$PASSWORD"; then
	db_set mythtv/mysql_admin_password $PASSWORD
else
	db_subst mythtv/mysql_admin_password user "$USER"
	db_input high mythtv/mysql_admin_password || true
fi
db_go || true

exit 0
